.box {
    display: block;
    position: relative;
    min-height: 280px;
    margin: 2em;
}

.content header img {
    width: 35%;
    height: auto;
}

.navdropdown {
    &:hover {
        .navdropdowncontent {
            height: auto;
            padding: 0;
            margin: 0;
            visibility: visible;
        }
    }
}

.navdropdowncontent {
    background-color: rgba(255, 0, 0, 0.13);
    color: white;
    height: 0;
    position: relative;
    visibility: hidden;
    padding: 0;
    &:hover {
        height: auto;
        position: relative;
        padding: 2em;
        margin: 0;
        visibility: visible;
    }
    li a {
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: underline;
            font-weight: 700;
        }
    }
}


.imgWrapper {
    img {
        width: 50vh;
        height: auto;
    }
}

#banner {
    background-size: 400% 400%;

    &::after {
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }


    video {
        display: block;
    }
}



#banner.off{
    background: none;

    &::after{
        background: none;

    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.mediumImage {
    width: 45%;
    height: auto;
}
